# backend/requirements.txt
fastapi
uvicorn
transformers
requests
tf-keras
requests
beautifulsoup4
langchain 
langchain-community 
langchainhub 
langchain-chroma
beautifulsoup4
langchain_google_genai
pinecone
sentence-transformers
langchain_pinecone